// Brandon, these are all redundant with the rendered styles being inherited
// from the parent theme (colby.edu). We're going to test everything with
// the styles commented out below. If things check out, then these will all
// be deleted and we'll reserve this space for edge cases.
//
// We also will likely remove all redundancies within tailwind.config.js

@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
// @use 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@use 'global/variables';
@use 'global/layout';

@import '../../../colby-college-theme/src/styles/styles.scss';

.accordion {
    &__panel + &__panel {
        // border-top: 1px solid #dcdcdc;
    }

    &__header {
        margin: 0;
    }

    &__button {
        z-index: 10;
        position: relative;
        margin: 0;
        border: 0;
        padding: 20px 14px;
        width: 100%;
        text-align: left;
        appearance: none;
        cursor: pointer;
    }

    &__window {
        margin: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: 0.2s ease-in-out;
    }

    &__content {
        padding: 20px 14px;
    }

    p:nth-child(1) {
        margin-top: 0;
    }

    &__test {
        font-size: 3rem;
        line-height: 1.125;
        font-weight: 700;
    }
}

.intro-context {
    p + p {
        @apply mt-4;
    }
}

.page_styles {
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-extended;
        @apply font-normal;
    }

    h2 {
        @apply text-24;
        @apply leading-110;
        @apply -tracking-3;
    }

    h3 {
        @apply text-20;
        @apply leading-110;
        @apply -tracking-3;
        @apply text-indigo;
    }

    h4 {
        @apply text-16;
        @apply leading-110;
        @apply -tracking-3;
        @apply text-indigo;
    }

    h5 {
        @apply text-14;
        @apply font-bold;
        @apply leading-130;
        @apply -tracking-8;
        @apply text-azure;
        @apply uppercase;
    }

    h6 {
        @apply text-12;
        @apply leading-110;
        @apply -tracking-8;
        @apply text-azure;
        @apply uppercase;
    }

    a {
        @apply underline;
        @apply hover:no-underline;
        @apply hover:text-indigo;
    }

    // lists
    ul:not(.pagination__container):not(.directiory_information) {
        @apply list-disc;
        @apply pl-10;
        @apply text-indigo;
        @apply mb-4;

        li {
            @apply text-indigo-900;
            @apply mt-2;
            @apply font-body;
        }
    }

    ol {
        @apply list-decimal;
        @apply pl-10;
        @apply text-indigo;
        @apply mb-4;

        li {
            @apply text-indigo-900;
            @apply mt-2;
            @apply font-body;
        }
    }

    ul:not(.pagination__container):not(.directiory_information),
    ol {
        ul {
            @apply list-circle;
        }

        ul,
        ol {
            ul {
                @apply list-square;
            }
        }
    }

    // general divs for blocks, etc
    > div {
        @apply clear-both;
        @apply mb-20;
    }

    > div:last-child {
        @apply mb-0;
    }

    .wp-block-heading {
        margin-bottom: 0.8rem;
    }

    .wp-block-paragraph {
        @apply mb-0;
        > p {
            @apply text-indigo-900;
            @apply mb-4;
            @apply font-body;
        }
    }

    // table block
    .colby-table-block {
        td {
            a {
                @apply no-underline;
            }
            a:hover {
                @apply underline;
            }
        }
    }

    // paragraph block
    .colby-paragraph-block {
        @apply font-body;

        > p {
            @apply text-indigo-900;
        }

        > p,
        > table,
        hr {
            @apply mb-4;
        }

        &:last-child {
            @apply mb-0;
        }

        p:last-child,
        ul:last-child,
        ol:last-child {
            @apply mb-0;
        }

        table,
        tr,
        td {
            border: 1px solid #ccc;
        }
    }

    // image with text block
    .colby-image-text-block {
        p {
            @apply mb-4;
            @apply text-indigo-900;
            @apply font-body;
        }
    }

    // accordion block
    .colby-accordion-block {
        p {
            @apply mb-4;
            @apply text-indigo-900;
        }

        p,
        ul,
        ol {
            @apply font-normal;
            @apply font-body;
            @apply text-16;
            @apply leading-140;
        }
    }

    // heading block
    .wp-block-heading {
        > h2 {
            @apply text-indigo;
        }
    }

    // embed block
    .wp-block-embed {
        .wp-element-caption {
            @apply font-body;
            @apply text-indigo-900;
            @apply font-normal;
        }
    }

    // group block
    .wp-block-group__inner-container {
        > div {
            @apply mb-4;
        }
    }
}
